{% extends 'base.html' %}

{% block title %}
Вам пришел новый урок
<span style="color:#ff3300">{{ video }}</span>
в курсе
<span style="color:#ff3300">{{ coursechapter }}{% endblock %}</span>
{% block content %}
<a
	href="{{ url }}"
	style="
		background-color: #ff3300;
		border-color: #ff3300;
		border-radius: 10px;
		height: 70px;
		font-size: 18px;
		font-style: normal;
		font-weight: 700;
		color: white;
		cursor: pointer;
		padding: 20px;
		text-decoration: none;
	"
>
	Перейти на платформу
</a>
{% endblock %}
